* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
}

html,
body {
    height: 100%
}

body {
    font-family: 'Poppins', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    color: #0b1220;
    line-height: 1.45;
}

#introduction {
    grid-area: intro;
}

#aside {
    grid-area: aside;
}

#characteristics {
    grid-area: characteristics;
}

#functions {
    grid-area: functions;
}

#types {
    grid-area: types;
}

#especializations {
    grid-area: especializations;
}