* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
}

html,
body {
    height: 100%
}

body {
    margin: 0;
    font-family: 'Poppins', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    background: var(--bg-1);
    color: #0b1220;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.45;
}

#introduction {
    grid-area: intro;
}

#types {
    grid-area: types;
}

#functions {
    grid-area: functions;
}

#glandular {
    grid-area: glandular;
}

#aside {
    grid-area: aside;
}